body
  header.text-center
    .about-me.text-white
      img.rounded-circle.m-3(src="https://s.cdpn.io/profiles/user/57679/512.jpg?1545990296")
      h1.mb-3
        span.d-block Naut Hnil
        small.job.h6.text-uppercase.font-weight-normal Front-End Developer & Design UI/UX
      .socials
        a.mx-3.text-white(href="#")
          i.zmdi.zmdi-linkedin
        a.mx-3.text-white(href="#")
          i.zmdi.zmdi-twitter
        a.mx-3.text-white(href="#")
          i.zmdi.zmdi-dribbble
        a.mx-3.text-white(href="#")
          i.zmdi.zmdi-github

  main.py-5(role="main")
    .container
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nisi enim illo ex voluptatum laudantium iusto beatae atque natus, aut nam architecto maxime similique corporis aliquid ipsam porro cumque inventore.
      p Doloribus distinctio beatae, non asperiores illo officia unde. Repellat praesentium maxime nihil doloremque accusamus! Dolor, eius quo voluptates aspernatur facilis perspiciatis libero optio corporis consequuntur eos, molestias numquam! Ab, delectus.
      p Optio, illum facilis, nam aliquam deleniti, rem vero iure molestias fugit adipisci id. Quae ut facere ducimus obcaecati aperiam officia impedit sunt nemo, ratione ipsa sapiente ipsum reprehenderit iure tempore.
      p Optio placeat dolores, sunt laudantium labore beatae esse tenetur. Iure et velit dolorem alias libero quaerat quas aut maxime quia debitis iste, ab nostrum veritatis quisquam vitae repellendus, provident accusamus?
      p Ullam quisquam dolorum consectetur reiciendis fuga iure atque dolore quae cum molestias ipsum ipsam itaque, rerum illo laboriosam iusto suscipit totam. Atque, in? Iure, veritatis placeat. Sunt velit quas doloremque.
      p Repudiandae nisi nobis illum reiciendis dolorem quisquam sint dolorum ab vel perspiciatis expedita, tempore provident aperiam velit illo excepturi possimus, voluptate reprehenderit fuga debitis molestiae obcaecati aliquam non! Mollitia, aliquid.
      p Dicta in itaque veniam delectus illum consectetur voluptates, voluptate, ducimus obcaecati ratione nulla accusantium, dolorum voluptatum rem voluptatibus inventore molestiae. Minus aliquid neque illum cumque praesentium tenetur excepturi natus necessitatibus?
      p Quisquam quis pariatur ipsam quo corrupti unde sint ab qui nam, dolor at illum iure. Assumenda, praesentium quidem, sint ratione reprehenderit eum eligendi vero aperiam debitis odio soluta est quia?
      p Perspiciatis, omnis quos tempora maxime nulla molestiae ducimus labore, rerum ipsum corporis ut voluptas accusantium nostrum! Quam sed sint magni explicabo vero et quia reiciendis unde aspernatur optio, neque mollitia.
      p Eveniet minima accusamus molestias reiciendis molestiae adipisci non, dolores nemo culpa laudantium? Labore vel consequuntur quos earum minus laboriosam laudantium aut ut, dolores aspernatur pariatur blanditiis. Ullam sed totam quisquam.
      p Voluptate, iste commodi! Dolores, labore doloribus quaerat laborum expedita necessitatibus, tenetur ullam atque fugiat mollitia laudantium soluta, quo libero nihil sed. Autem minus debitis animi vitae beatae minima aspernatur officia.
      p Quis obcaecati, reiciendis sint quos accusamus sit atque aperiam sunt illo ex consequuntur perferendis velit incidunt magnam aut commodi magni ipsa aliquam ipsum, excepturi saepe dolores odit quasi. Ipsa, dolor!
      p Totam magni ipsa doloribus excepturi reprehenderit temporibus eaque ab sit non libero incidunt placeat, veniam, veritatis laboriosam? Repellat dolorem recusandae provident tempore asperiores, ut dolor, architecto ipsum alias aperiam reprehenderit?
      p Quis deserunt id consequatur molestias distinctio eos eaque, doloremque debitis non nam modi tempora repudiandae soluta tenetur animi aliquid tempore perspiciatis a sed saepe nisi expedita rerum sint. Voluptates, voluptatem.
      p Ex necessitatibus ea mollitia alias harum? Laborum modi, natus aliquam quidem culpa aut dolores qui minima recusandae fugit vero velit dolore eaque numquam provident nesciunt inventore sit illo voluptates. Vero!